<% content_for :title, "Application Form - Applicant" %>
<script>
    jQuery(function ($) {
        var fbRender = document.getElementById('fb-render'),
            formData =
        <%= raw application_form.inspect %>
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };

        $(fbRender).formRender(formRenderOpts);
    });
</script>
<div>
  <%= form_tag({action: :create}, multipart: true, id: "fb-render", method: "post", name: "application_form", style: "margin: 15px;border-radius: 10px;border: 1px solid #ccc!important;padding: 5px;", onsubmit: "return ValidateExtension()", :multipart => true) do %>
  <% end %>
</div>

<script>
    function ValidateExtension() {
        document.getElementById('Username').value = "<%= cas_user %>";
        console.log(document.getElementById("File").value)
        var allowedFiles = [".pdf",];
        var fileUpload = document.getElementById("File");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (fileUpload.value != "") {
            if (!regex.test(fileUpload.value.toLowerCase())) {
                alert("Please upload files having extensions:" + allowedFiles.join(', ') + " only.");
                return false;
            }
        }
        return true;
    }
</script>
