<style>
    html {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 48px;
        text-align: center;
        color: black;
    }

    h2 {
        font-size: 18px;
        color: blue
    }

    h3 {
        font-size: 12px;
        color: green
    }
</style>
<img class="pc" src="/cselap-logo.jpg" alt="UNL LOGO" style="margin-left: 40%;max-width: 15%; height: auto;">
<h1>Learning Assistant Program Application Form</h1>
<h2 style="text-align: center;">Submitted on <%= Time.now.strftime("%d/%m/%Y - %H:%M:%S") %></h2>
<% @submit.each do |key, value| %>
  <% if key != "controller" and key != "action" and key != "submit" %>
    <h2><%= key %></h2>
    <h3>  <%= value %></h3>
  <% end %>
<% end %>
