<% content_for :title, "Home - student" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">Important Notes</h5>
    <div class="card-body">
      <h5 class="card-title">Learning Assistant Program Application</h5>
      <p class="card-text"> <b>Please Note:
                              Qualified applicants will be asked to come in for an interview. It will be important that you check your email for interview information.</b>

                          <p>There will be mandatory training sessions in the first week of the semester. Please let us know if there are any time conflicts.</p>

                          <p>About Learning Assistants:</p>
                          <p>Learning Assistants are undergraduates who assist students in their learning for fundamental computing courses. They may assist in labs, hacks, grading, and/or office hours.</p>
                          <p>Preference will be given to students who have taken the specific course applied for.</p>


                          <p>Overall Requirements:</p>
                          <p>3.0+ GPA</p>
                          <p>B+ or above in the course you are applying for or equivalent</p>

                          <p>Topics to be proficient in:</p>
                        <ul>
                          <li>loops, conditional statements, and other control flow structure</li>
                          <li>initializing variables</li>
                          <li>basic data structures</li>
                          <li>basic computational thinking</li>
                          <li>basic syntax for the language taught in each respective class</li>
                        </ul>

                          <p> <b>EXPECTATIONS OF LEARNING ASSISTANTS </b></p>
                          <ul>
                            <li>Be available for lab/hack sessions (if applicable).</li>
                            <li>Highly motivated and have a sincere desire to mentor and help students.</li>
                            <li>Consistently commit to a total of 10-15 hours a week of work.</li>
                            <li>Should be committed to 3-4 hours per week of grading programs online using an online rubric.</li>
                            <li>Should be able to hold 3-5 open office hours per week including on campus (Avery Hall/Learning Community/Anywhere as needed by the students and assigned by the program/instructor) and online hours.</li>
                            <li>Should be able to hold 1-4 additional hours coming from administrative items such as checking piazza, weekly meetings, etc.</li>
                          </ul>

                          <p><b>ABOUT COURSE LEADERS</b></p>

                          <p>Course leaders are selected Learning Assistants who are promoted to help instructors with their course and communication between Learning Assistants and the Program Committee.
                          Preference will be given to existing Learning Assistants and/or TAs of the course with recommendations from the course instructors.</p>


                          <p>EXPECTATIONS OF COURSE LEADERS</p>

                          <p>In addition to the above expectations, course leaders may be tasked with work outside of directly assisting in learning.</p>
                          <ul>
                          	<li>Must hold meetings with an assigned group of  Learning Assistants of your course.</li>
                          	<li>Must meet with Senior Leader(s) fortnightly.</li>
                          	<li>May need to meet with Instructors more frequently.</li>
                          	<li>May be tasked with curricular duties including proofing and editing of written material, videos, etc. as well as potentially producing original material (solution keys, additional exercises, etc.).</li>
                          	<li>May be assigned quality check duties for grading by the instructor.</li>
                          </ul>

                          <p>Please contact learningassistants@cse.unl.edu if you have any questions about this application. </p>

      <a href="#" class="btn btn-primary">I Agree</a>
    </div>
  </div>
