<% content_for :title, "Home - student" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">LA Office Hours (maybe datatable here)</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Appointment <small>(Please check your e-mail)</small>
      <a class="btn btn-success btn-sm">Accepted</a></h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>