<% content_for :title, "Home - student" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">LA Office Hours (maybe datatable here)</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Request Appointment</h5>
    <div class="card-body">
      <p class="card-text" style="text-align: center;">Do none of the office hours work for your schedule? Request an appointment, and if the schedule aligns, one of our LAs will get in touch with you. </p>
      <a href="/student/request/" class="btn btn-primary btn-block">Request Appointment</a>
    </div>
  </div>
</div>