Redirecting...
<script>
    window.location.replace("/student/index/");
</script>
<meta http-equiv="refresh" content="0; URL=/student/index/"/>
<p>If you are not redirected in five seconds, <a href="/student/index/">click here</a>.</p>