<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <tr>
    <th>Name</th>
    <th>role</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.eduPersonPrincipalName %></td>
      <td><%= user.role %></td>
      <td><%= link_to 'Change Role', edit_admin_path(user),
                      data: {confirm: 'Change to LA?'} %></td>
    </tr>
  <% end %>
</table>
