<% content_for :title, "Hiring - Admin" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">Hiring Applications</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Hiring Form</h5>
    <div class="card-body">
      <form id="fb-render" style="margin: 1px;border-radius: 5px;border: 1px solid #ccc!important;padding: 5px;"></form>
      <br>
      <a href="/interviewer/edit" class="btn btn-primary float-right">Edit</a>
    </div>
  </div>
</div>
<script>
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render'),
            formData = <%= raw application_form.inspect %>
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };

        $(fbRender).formRender(formRenderOpts);
    });
</script>