<p>Hi <%= @name %>,</p>
<p>As a result of your application for the position, we would like to
  schedule an interview with you. Please login to the LA Management System to accept your
  offer.</p>
<a href='<%= @index_Page %>/student/application' target="_blank">
  <strong>Want to take a look?</strong> Login to the system </a>
