<p>Hi <%= @name %>,</p>
<p>We were all very excited to meet and get to know you over the past
  few days. We have been impressed with your background and would like to formally offer you
  the position. Please login to the LA Management System to accept your offer.</p>
<a href='<%= @index_Page %>/student/application' target="_blank">
  <strong>Want to take a look?</strong> Login to the system </a>