<p>Hi <%= @name %>,/p>
<p>Thank you for your application for the position. As you can imagine, we received a large number of applications. I am
  sorry to inform you that you have not been selected for an interview for this position.</p>
<p>The LA program committee thanks you for the time you invested in applying to this position. We encourage you to apply
  for future openings for which you qualify. Best wishes for a successful job search. Thank you, again, for your
  interest in our program.
</p>