<p>Hi <%= @name %>,</p>
<p>Your interview time has been sucessfully set!</p>
<p> Your interview will take place at <%= @time %> please arrive about 15 minutes early to your scheduled interview time</p>
<a href='<%= @index_Page %>/student/application' target="_blank">
  <strong>Want to take a look?</strong> Login to the system </a>
