<p>You recently had an interaction with the learning assistant <%= @name %>. Please help us to know how they did. Your
  response will be anonymous and will help us to improve the LA program for everyone.</p>
<p><a href="<%= SystemValue.find_by(name: 'survey_url').value %>/form.php?id=<%= @id %>">Take Survey</a></p>