<p>Hi <%= @name %>,</p>
<p>I’d like to let you know that we have received your application. Our committee will be reviewing all applications
  soon. We are planning to schedule interviews to selected candidates. If you are selected for an interview, you will
  receive an email from us to schedule an interview.</p>
<a href='<%= @index_Page %>/student/application' target="_blank">
  <strong>Want to take a look?</strong> Login to the system </a>