<% content_for :title, "Contact Us - UNL CSE - LAProMT" %>
<% content_for :description, "Have a question about Learning Assistant Program? Contact us by submitting this contact form!" %>

<script>
    jQuery(function ($) {
        var fbRender = document.getElementById('contact_form'),
            formData =
        <%= raw contact_form.inspect %>
        var formRenderOpts = {
            formData,
            dataType: 'json',
            i18n: {
                location: 'https://formbuilder.online/assets/lang'
            }
        };
        $(fbRender).formRender(formRenderOpts);
    });
</script>
<%= form_tag(home_submit_contact_url, multipart: true, id: "form", method: "post") do %>
  <div id="contact_form"></div>
  <div class="h-captcha" data-sitekey="<%= HCAPTCAHA_SITE_KEY %>" data-theme="light"></div>
  <%= submit_tag("Submit", class: "btn btn-primary", id: "submit") %>
<% end %>
</html>