<% content_for :title, "LAProMT - UNL CSE" %>
<% content_for :description, "Need help with your CS coursework? Submit an appointment request with your Learning Assistant!" %>

<h1 style="text-align:center">LAProMT - Learning Assistant Program Management Tool</h1>
<h2 style="text-align:center">The Learning Assistant Program</h2>
<h3 style="text-align:center">Department of Computer Science and Engineering - University of Nebraska Lincoln</h3>
<p>The Learning Assistant Program seeks to improve student experiences by providing supplemental learning
  experiences.</p>
<p>A one-stop website that can be used for Learning Assistant hiring, office hours, evaluations, and an on-demand
  appointment request system for students.</p>
<h4>Mission</h4>
<p>The Learning Assistant Program seeks to improve student experiences by providing supplemental learning
  experiences improving the Learning Assistant’s experience through timely and consistent training and support;
  improving the instructor’s interaction with students and Learning Assistants; striving to promote diversity in
  computing; and providing continuity in training, information, and leadership development for the Learning Assistants
  and other stakeholders. We are not a typical Undergraduate Teaching Assistant Program.</p>
<h4>Our Journey</h4>
<p>The Learning Assistant Program was started in the Spring semester of 2018 to help first-year students in Computing
  courses. Since then, the Program has grown from supporting one course (CSCE-155E) to supporting four (CSCE-155E, 156,
  101, 155N). With this growth, the program now supports courses for students majors inside and outside of the CSE
  department. The addition of these courses echoes the program's vision of improving learning experiences for all
  students taking computing courses.
</p>
<div style="text-align:center">
  <a href="/login/index" style="margin:0 auto" class="btn btn-primary">Login</a>
  <a href="https://cse.unl.edu/learning-assistant-program" style="margin:0 auto" class="btn btn-primary">Program
    HomePage</a>
</div>