<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg==" crossorigin="anonymous"/>
<meta name="google-site-verification" content="JIFg274lK-HFVPPSVk08lFzBtTBy4bPafjxFHHgu44s" />
<meta name="msvalidate.01" content="E681F99CAE424DD02A4FF1F62282E3AB" />
</head>

<title>Learning Assistant Management System</title>
<h1>Learning Assistant Management System</h1>
<p>The Learning Assistant Program seeks to improve student experiences by providing supplemental learning experiences;
  improving the Learning Assistant’s experience through timely and consistent training and support; improving the
  instructor’s interaction with students and Learning Assistants; striving to promote diversity in computing; and
  providing continuity in training, information, and leadership development for the Learning Assistants and other
  stakeholders. We are not a typical Undergraduate Teaching Assistant Program.</p>
<p>The Learning Assistant Program was started in the Spring semester of 2018 to help first-year students in Computing
  courses. Since then, the Program has grown from supporting one course (CSCE-155E) to supporting four (CSCE-155E, 156,
  101, 155N). With this growth, the program now supports courses for students majors inside and outside of the CSE
  department. The addition of these courses echoes the program's vision of improving learning experiences for all
  students taking computing courses.</p>
<div style="text-align:center">
  <a href="/login/index" style="margin:0 auto" class="btn btn-primary">Login</a>
  <a href="https://cse.unl.edu/learning-assistant-program-faq" style="margin:0 auto" class="btn btn-primary">Program
    HomePage</a>
</div>
<footer>
<script>
    window.location.replace("/login/index");
</script>
</footer>
</html>