>Learning Assistant Program Senior Leader Position Update
<p><%= @name %>,</p>
<p>&nbsp; &nbsp;Congratulations! You have been selected to join the Senior Leader team of the CSE Learning Assistant
  Program for the <strong>{YEAR-YEAR} academic year</strong>.&nbsp; We are excited to work with you throughout the next
  year as we continue to develop the program.</p>
<p>As you know, this position encompasses more administration and training work to help improve the program for faculty,
  students, and Learning Assistants. You are expected to commit approximately 10 &ndash; 15 hours per week to this
  program. Below are some of the responsibilities you may have:&nbsp;</p>
<ul>
  <li>Coordinating with teaching support staff including course instructors and other professors&nbsp;</li>
  <li>Attending regular meetings&nbsp;</li>
  <li>Recruitment and interview of Learning Assistants&nbsp;</li>
  <li>Documentation and maintenance of policies&nbsp;</li>
  <li>Overseeing and/or running workshop training for Learning Assistants&nbsp;</li>
  <li>Conducting evaluations for the program&nbsp;</li>
  <li>Finding pain points in the program and improving upon them</li>
</ul>
<p>Though these are just some of the responsibilities, we hope you can bring fresh eyes to our team as well as a &lsquo;go
  getter&rsquo; attitude to help us improve this program.&nbsp;&nbsp;<strong>&nbsp;</strong></p>
<p><strong>Please accept or decline this position no later than <%= (Time.now + 2.days).strftime("%d/%m/%Y %I:%M %P") %>
  by replying
  to&nbsp;</strong><a href="mailto:learningassistants@cse.unl.edu"><strong>learningassistants@cse.unl.edu</strong></a><strong>.
  If we do not receive a response from you by this deadline, we will assume you have declined.&nbsp;</strong>&nbsp;</p>
<p>If you choose to accept, we will begin the onboarding process within the next month which will be virtual.&nbsp;
  Additional details will be sent out later.&nbsp;&nbsp;Please contact us if you have any questions, comments, or
  concerns about this position. We are looking forward to working with you!&nbsp;&nbsp;</p>
<p>Yours truly,&nbsp;</p>
<p>CSE Learning Assistant Program Faculty &amp; Senior Leaders&nbsp;</p>