>Learning Assistant Program Senior Leader Position Update
<p>Dear <%= @name %>,</p>
<p>Thank you for showing interest in the Senior Leader position. We were pleased with the quantity and quality of applicants.&nbsp; We regret to inform you that at this time you were not selected for the Senior Leader position for the <strong>[YYYY-YYYY] academic year</strong>. Your time and effort have not gone unnoticed and we appreciate your dedication to furthering this program.</p>
<p>We wish you the best in your future endeavors!</p>
<p>Sincerely,</p>
<p>Learning Assistant Faculty &amp; Senior Leaders</p>