<%= javascript_include_tag "quote" %>
<footer>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center" style="text-align: center;font-size: .63em!important;">
        <span style="color: #999999;">Copyright &copy; <%= Time.now.year %>
          <a style="color: #999999;" href="https://www.unl.edu">University of Nebraska-Lincoln</a> | <a style="color: #999999;" href="https://cse.unl.edu">Computer Science and Engineering</a></span><br>
        <a style="color: #999999;">The University of Nebraska–Lincoln Is an Equal Opportunity Educator and Employer.</a><br>
        <a id="foot_quote" style="color: #f0f0f0;"></a>
      </p>
      <script type="text/javascript">
          var x = document.getElementById("foot_quote");
          var randomNumber = Math.floor(Math.random() * (quotes.length));
          x.innerHTML = quotes[randomNumber];
      </script>
    </div>
  </div>
</footer>