<footer>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center" style="text-align: center;font-size: .63em!important;">
        <span style="color: #999999;">Copyright &copy; 2020 - <%= Time.now.year %>
          <a style="color: #999999;" href="https://www.unl.edu">University of Nebraska - Lincoln</a>.</span></p>
    </div>
  </div>
</footer>