<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left">
  <img class="pc" src="/logo.png" alt="UNL LOGO" style="margin-right: 80%; max-width: 100%; height: auto;">
  <a class="navbar-brand" href>LAProMT</a>
  <p>Learning Assistant Program Management Tool</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <!-- for loop here -->
      <li class="nav-item">
        <a class="nav-link">Request LA</a>
      </li>
      <!-- end for loop -->

      <div class="mobile">
        <li style="">NAME</li>
        <li >Log out</li>
      </div>
      <div class="pc">
        <div style="position: absolute;bottom: 30px;left: 40%;">
          <li style="">NAME</li>

        </div>
        <div style="position: absolute;bottom: 6px;right: 10%;">
          <li >Log out</li>
        </div>
      </div>
    </ul>
  </div>
</nav>