<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
  <img class="pc" src="https://its.unl.edu/images/services/icons/MyRed%20Icon-F-01.png" alt="UNL LOGO" style="margin-left: 25%;max-width: 50%; height: auto;">
  <h1 align="center" style="color:#F4EDE8; font-size:28px">LAProMT</h1>
  <p align="center" style="color:#F4EDE8; font-size:14px">Learning Assistant Program Management Tool</p>

  <% if located == "student" %>
    <a href="/student/request" style="text-align:center">Request LA</a>
    <a href="/student/index" style="text-align:center">View Full Schedule</a>
    <a href="" style="text-align:center">Apply to be an LA</a>
  <% elsif located == "la" %>
    <a href="/la/request" style="text-align:center">Request LA</a>
    <a href="/la/index" style="text-align:center">LA Home</a>
    <a href="/la/settings" style="text-align:center">Setting</a>
  <% elsif located == "admin" %>
    <a href="/admin/index" style="text-align:center">Admin Home</a>
    <a href="/admin/courses" style="text-align:center">Courses</a>
    <a href="/admin/evaluations" style="text-align:center">Evaluations</a>
    <a href="/admin/hiring" style="text-align:center">Hiring</a>
    <a href="/admin/management" style="text-align:center">User Management</a>
  <% end %>

  <div class="name_box" style="text-align:center; font-size:24px; color:#F4EDE8;">
    <% if !current_user %>

    <% else %>
      <%= current_user.eduPersonPrincipalName %>
    <% end %>
    <a class="logout" href="/logout" style="color: white; text-align:right; font-size: 10px; right: 0px; bottom: 0px; position: absolute;">Log
      out</a>
  </div>
</div>

