<% if cas_user %>
  <%= link_to 'Log out', sso_sign_out_url %>
<% end %>

<% if current_user %>
  <h1>Welcome, <%= current_user.email %>!</h1>
<% else %>
  <h1>You don't have access to this application!</h1>
<% end %>

<%= yield %>