<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body>

<header>
  <%= render "layouts/sso" %>
  <%= render "layouts/navbar" %>
</header>
<%#= yield %>

</body>
<%= render "layouts/footer" %>
</html>